<div class="show-trip">
  <table class="show-trip-table">
    <tr class="show-trip-table-title">
      <th>Date</th>
      <th>City</th>
      <th>Status</th>
    </tr>
      <tr class="show-trip-data">
        <td><%= @trip.date %></td>
        <td><%= @trip.city %></td>
        <td><%= @trip.completed %></td>
      </tr>
  </table>
</div>

<div class="trip-locations-list">
  <table class="trip-locations-list-table">
    <tr class="trip-locations-list-title">
      <th>No.</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Stay Time</th>
      <th>Transportation Mode(To Next Location)</th>
      <th>Transportation Time</th>
    </tr>
    <% @locations.each do |location| %>
      <tr class="trip-locations-list-data">
        <td>xxx</td>
        <td><%= location.location %></td>
        <td><%= location.start_time %></td>
        <td><%= location.end_time %></td>
        <td>xxx</td>
        <td><%= location.transportation_mode %></td>
        <td><%= location.transportation_time %></td>
        <td><%= link_to "Edit", edit_trip_location_path(@trip, location), class: "edit-trip-link" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="new-location">
  <span class="new-location-img">"+"</span>
  <%= link_to "Add New Location", new_trip_location_path(@trip), class: "new-location-link" %>
</div>

<div class="back-link">
  <span class="back-link-to-trips-img"><<</span>
  <%= link_to "Back to See More Trips", trips_path, class: "back-link-to-trips" %>
</div>
