<div class="new-location">
  <%= form_for @location, url: trip_locations_path(@trip), html: { class: "new-location-form" } do |form| %>
    <%= form.label :location %>
    <%= form.text_field :location %>

    <%= form.label :start_time %>
    <%= form.time_field :start_time %>

    <%= form.label :end_time %>
    <%= form.time_field :end_time %>

    <%= form.label :transportation_mode %>
    <%= form.text_field :transportation_mode %>

    <%= form.label :transportation_time %>
    <%= form.text_field :transportation_time %>

    <%= form.submit "Create New Location" %>
  <% end %>
</div>
