<!DOCTYPE html>
<html>
<head>
  <title>Tripmap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header-container">
      <div class="header-logo"></div>

      <div class="header-title">
        <%= link_to "TripMap", trips_path, class: "header-title-link" %>
      </div>

      <div class="header-nav left">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <%= link_to "My Trips", trips_path, class: "header-nav-link" %>
          </li>
        </ul>
      </div>

      <div class="header-nav right">
        <ul class="header-nav-list">
          <% if signed_in? %>
            <li class="header-nav-item">
              <%= link_to current_user.email, trips_path, class: "header-nav-link" %>
            </li>
            <li>
              <%= link_to "Sign out", session_path, method: :delete, class: "header-nav-link" %>
            </li>
          <% else %>
            <li class="header-nav-item">
              <%= link_to "Login", new_session_path, class: "header-nav-link" %>
            </li>
            <li class="header-nav-item">
              <%= link_to "Signup", new_user_path, class: "header-nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>

  <div class="main">
    <div class="main-container">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <div class="footer-nav left">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
          <%= link_to "Contact", trips_path, class: "footer-nav-link" %>
          </li>
          <li class="footer-nav-item">
          <%= link_to "Blog", trips_path, class: "footer-nav-link" %>
          </li>
          <li class="footer-nav-item">
          <%= link_to "About", trips_path, class: "footer-nav-link" %>
          </li>
        </ul>
      </div>

      <div class="footer-nav right">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
          © 2014 TripMap
          </li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>

</body>
  </html>
