<!DOCTYPE html>
<html>
<head>
  <title>Tripmap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <span class="header-logo"></span>

    <%= link_to "TripMap", trips_path, class: "header-title-link" %>
    <ul class="header-nav left">
      <li class="header-nav-item">
        <%= link_to "My Trips", trips_path, class: "header-nav-link" %>
      </li>
    </ul>

    <ul class="header-nav user-nav right left">
    <% if signed_in? %>
      <li class="header-nav-item">
        <%= link_to current_user.email, trips_path, class: "header-nav-link" %>
      </li>
      <li>
        <%= link_to "Sign out", session_path, method: :delete %>
      </li>
    <% else %>
      <li class="header-nav-item">
        <%= link_to "Login", new_session_path, class: "header-nav-link" %>
      </li>
      <li class="header-nav-item">
        <%= link_to "Signup", new_user_path, class: "header-nav-link" %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="main">
    <hr />
    <%= yield %>
    <hr />
  </div>

  <div class="footer">
    <ul class="footer-nav left">
      <li class="footer-nav-item">
        <%= link_to "Contact", trips_path, class: "footer-nav-link" %>
      </li>
      <li class="footer-nav-item">
        <%= link_to "Blog", trips_path, class: "footer-nav-link" %>
      </li>
      <li class="footer-nav-item">
        <%= link_to "About", trips_path, class: "footer-nav-link" %>
      </li>
    </ul>

    <ul class="footer-nav right">
      <li class="footer-nav-item">
        "© 2014 TripMap"
      </li>
    </ul>
  <div>

</body>
</html>
